<div class="container mt-4">
    <form>
        <div class="form-group">        
            <label for="firstName">Enter first name : </label>
            <input required minlength="3" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" type="text" class="form-control" id="firstName">
            <div  class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First name is required</div>
                <div *ngIf="firstName.errors.minlength">First name is must be atmost {{firstName.errors.requiredLength}} characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Enter comment: </label>
            <textarea ngModel name="name" type="text" id="comment" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>